.certificate-container {
    width: 15rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    overflow: hidden;
    cursor: pointer;

    & img {
        width: 100%;
        transition: 400ms;

        &:hover {
            scale: 1.06;
        }
    }
}

.no-cred {
    background-color: var(--main-bg-color);
    border: 1px solid hsl(0, 10%, 40%);
    background-image: linear-gradient(40deg, hsl(0, 10%, 8%), hsl(0, 10%, 20%));
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
}

.null-cred {
    --null-text-shadow: hsl(0, 0%, 60%);
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--main-dim-font-color);
    text-shadow: -1px -1px var(--null-text-shadow),
                -2px -2px var(--null-text-shadow),
                -3px -3px var(--null-text-shadow),
                -4px -4px var(--null-text-shadow),
                -5px -5px var(--null-text-shadow),
                -6px -6px var(--null-text-shadow),
                -7px -7px var(--null-text-shadow),
                -8px -8px var(--null-text-shadow),
                -9px -9px var(--null-text-shadow),
                -10px -10px var(--null-text-shadow);
    transform: rotateY(42deg) rotateX(30deg) rotateZ(-2deg);
}

.active-cred {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--low-opa-bg-color);

    & img {
        width: 65%;
        height: auto;

        &:hover {
            scale: 1;
        }
    }
}