.home-container {
    display: grid;
    grid-template-columns: 9rem 1.3fr 1px 1fr;
    height: 100vh;
    overflow: hidden;
    /* padding: 0 3rem; */
}

.divider {
    border: none;
    border-left: 1px solid;
    border-image: linear-gradient(transparent 25%, var(--main-dim-font-color), transparent 80%) fill 1;
}