aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.5rem 0;
    height: 100vh;
    background-color: transparent;
    position: fixed;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: 144px;
    position: relative;
    
    & a {
        text-decoration: none;
        /* color: var(--main-dim-font-color); */
        transition: 200ms;
 
    }
    & a:hover {
        color: white;
    }
}

.nav-link:hover {
    color: var(--main-font-color);
}

.nav-slider-line {
    width: 1px;
    height: 8.3rem;
    border: none;
    border-right: 1px solid var(--main-dim-font-color);
    position: absolute;
    right: 14%;
    z-index: -1;
}

.nav-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    position: absolute;
    top: 12%;
    width: 0;
    margin-left: .04rem;
    margin-top: .4rem;
}

.nav-balls {
    background-color: var(--main-dim-font-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* #home-link {
    font-size: x-large;
    color: var(--main-font-color);
} */

.active-nav-link .nav-balls {
    scale: 1.68;
    background-color: var(--main-font-color);
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
}

.portfolio {
    font-size: 1.6rem;
}